html {
  font-size: 16px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Variable font sizes based on media query and REM size */
@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--color-text-strong);
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}

button,
a {
  font-family: inherit;
  color: currentColor;
  font-size: 1rem;
}

html:active-view-transition-type(slide-left) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-left;
  }
  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-left;
  }
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20%);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide Right Transition */
html:active-view-transition-type(slide-right) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-right;
  }
  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-right;
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20%);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide up and down Transition */
html:active-view-transition-type(slide-up) {
  &::view-transition-old(main-content) {
    animation: 50ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-up;
  }
  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-up;
  }
}

@keyframes slide-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(0%);
  }
}

@keyframes slide-in-up {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide down and up Transition */
html:active-view-transition-type(slide-down) {
  &::view-transition-old(main-content) {
    animation: 50ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-down;
  }
  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-down;
  }
}

@keyframes slide-out-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes slide-in-down {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
