:root {
  /* Colors */
  --color-background: white;
  --color-background-hover: rgb(239, 239, 239);
  --color-foreground: rgb(43, 43, 43);

  --color-primary: #0a8270;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #0a927e;
  --color-primary-active: #0a8270;

  --color-text-strong: #000000;
  --color-text: #2f2f2f;
  --color-text-muted: #898989;

  --color-secondary: #ffffff;
  --color-secondary-foreground: #111827;
  --color-secondary-hover: #f4f4f4;
  --color-secondary-active: #e6e6e6;

  --color-accent: #10b981;
  --color-accent-foreground: #ffffff;
  --color-accent-hover: #0ea271;
  --color-accent-active: #0b815a;

  --color-destructive: #fd294e;
  --color-destructive-foreground: #ffffff;
  --color-destructive-hover: #e02041;
  --color-destructive-active: #b91c1c;

  --color-card-background: #ffffff;
  --color-card-background-hover: #f9fafb;
  --color-card-border: #d6d6d6;
  --color-card-shadow: rgba(0, 0, 0, 0.05);

  --color-border: #c8c8c8;
  --color-input: #e5e7eb;
  --color-ring: #0a8270;
}

[data-theme="dark"] {
  --color-background: rgb(31, 31, 31);
  --color-background-hover: rgb(22, 22, 22);
  --color-foreground: rgb(232, 232, 232);

  --color-primary: #26e539;
  --color-primary-foreground: #000000;
  --color-primary-hover: #ffffff;
  --color-primary-active: #ffffff;

  --color-text-strong: #ffffff;
  --color-text: #e5e5e5;
  --color-text-muted: #9ca3af;

  --color-secondary: #1e1e1e;
  --color-secondary-foreground: #f3f4f6;
  --color-secondary-hover: #2a2a2a;
  --color-secondary-active: #3a3a3a;

  --color-accent: #10b981;
  --color-accent-foreground: #ffffff;
  --color-accent-hover: #0ea271;
  --color-accent-active: #0b815a;

  --color-destructive: #fd294e;
  --color-destructive-foreground: #ffffff;
  --color-destructive-hover: #e02041;
  --color-destructive-active: #b91c1c;

  --color-card-background: #191919;
  --color-card-background-hover: #222222;
  --color-card-border: #2c2c2c;
  --color-card-shadow: rgba(0, 0, 0, 0.4);

  --color-border: #222222;
  --color-input: #3b3b3b;
  --color-ring: #0a8270;
}

:root {
  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  /* Font Families */
  --font-family-heading: "Manrope", sans-serif;
  --font-family-body: "Manrope", sans-serif;

  /* Element Sizes */
  --element-xs: 1.6rem;
  --element-sm: 2rem;
  --element-md: 2.5rem;
  --element-lg: 4.3rem;

  /* Spacing */
  /* Tiny spacings */
  --spacing-2xs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */

  /* Small to medium */
  --spacing-md: 0.75rem; /* 12px */
  --spacing-lg: 1rem; /* 16px */
  --spacing-xl: 1.5rem; /* 24px */

  /* Medium to large */
  --spacing-2xl: 2rem; /* 32px */
  --spacing-3xl: 2.5rem; /* 40px */
  --spacing-4xl: 3rem; /* 48px */

  /* Big sections */
  --spacing-5xl: 4rem; /* 64px */
  --spacing-6xl: 6rem; /* 96px */
  --spacing-7xl: 8rem; /* 128px */

  /* Border Radius */
  --radius-none: 0px;
  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  /* Border Width */
  --border-width: 1px;
  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;

  /* Opacity */
  --opacity-0: 0;
  --opacity-5: 0.05;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-25: 0.25;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-75: 0.75;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-95: 0.95;
  --opacity-100: 1;

  /* Z-Index */
  --z-index-auto: auto;
  --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
