.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.xs {
  max-width: var(--breakpoint-xs); /* breakpoint-xs */
}

.sm {
  max-width: var(--breakpoint-sm); /* breakpoint-sm */
}

.md {
  max-width: var(--breakpoint-md); /* breakpoint-md */
}

.lg {
  max-width: var(--breakpoint-lg); /* breakpoint-lg */
}

.full {
  max-width: 100%;
}

.gutter {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}
