.button {
  border: none;
  cursor: pointer;
  font-family: var(--font-family-body);
  font-weight: 600;
  text-wrap: nowrap;
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-4);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.full {
  width: 100%;
}

/* Sizes */
.sm {
  font-size: var(--font-size-sm);
  height: var(--element-sm);
  padding: 0 var(--spacing-sm);
}

.md {
  font-size: var(--font-size-base);
  height: var(--element-md);
  padding: 0 var(--spacing-md);
}

.lg {
  font-size: var(--font-size-lg);
  height: var(--element-lg);
  padding: 0 var(--spacing-md);
}

.square {
  padding: 0;
}

.sm.square {
  width: var(--element-sm);
  height: var(--element-sm);
}

.md.square {
  width: var(--element-md);
  height: var(--element-md);
}

.lg.square {
  width: var(--element-lg);
  height: var(--element-lg);
}

/* Variants */
.primary {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}

.primary:hover {
  background-color: var(--color-primary-hover);
}

.primary:active {
  background-color: var(--color-primary-active);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
  border: 1px solid var(--color-border);
}

.secondary:hover {
  background-color: var(--color-secondary-hover);
}

.secondary:active {
  background-color: var(--color-secondary-active);
}

.accent {
  background-color: var(--color-accent);
  color: var(--color-accent-foreground);
}

.accent:hover {
  background-color: var(--color-accent-hover);
}

.accent:active {
  background-color: var(--color-accent-active);
}

.destructive {
  background-color: var(--color-destructive);
  color: var(--color-destructive-foreground);
}

.destructive:hover {
  background-color: var(--color-destructive-hover);
}

.destructive:active {
  background-color: var(--color-destructive-active);
}

.ghost {
  background-color: transparent;
  color: var(var(--color-text));
  border: 1px solid transparent;
}

.ghost:hover {
  color: var(--color-text-strong);
}

.ghost:active {
  color: var(--color-text-strong);
}
