.wrapper {
  position: relative;
}

.buttonWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.button {
  border: none;
  background-color: transparent;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.inner {
  gap: var(--spacing-md);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
